
# env
.env

# venv
.venv
venv/

# reports
reports/

# pycache
__pycache__

# Python build artifacts
build/*
*.egg-info/
dist/
*.pyc

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Results
results/

temp/
pipelex_super.toml
pipelex_override.toml
telemetry_override.toml
.pipelex/storage
