
# env
.env

# venv
.venv
venv/

# reports
reports/

# pycache
__pycache__

# Python build artifacts
build/*
*.egg-info/
dist/
*.pyc

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Results
results/

# temps
temp/
pipelex_super.toml

# pipelex_libraries

base_llm_deck.toml
pipelex_libraries/pipelines/base_library
base_templates.toml
pipelex_super.toml
